html {
  box-sizing: border-box;
}

nav{
  position: fixed;
  top:0;
  left:0;
  padding: 0rem 1rem;
  width:100vw;
  height: 120px;
  background-color: #B8E6BA;
  z-index: 7;
  color: #FFFFFF;
  padding:1.5em;
  font-family: 'Bungee', cursive;
}