html {
  box-sizing: border-box;
}

.new-tweet{
  background-color:none;
}

.counter{
  /* position: absolute; */
  right:0;
  bottom:0;
  z-index:100;
}

.new-tweet textarea{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color:none;
  border:none;
  border-bottom: 5px groove darkgrey;
  line-height: 1rem;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  width:80%;
}

.counter{
  font-family: Bungee;
}

/* .new-tweet input{
  font-family: 'Bungee', cursive;
  left:0;
  bottom:0;
  /* margin:auto; */
  /* padding-left: 10%; */
/* } */

